<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShowRoute</title>
</head>
<body>
    <h2>listing details</h2>
    <ul>
        <li><%= listingID.title %></li>
        <li><%= listingID.description %></li>
        <li>Rs <%= listingID.price %></li>
        <li><%= listingID.location %></li>
        <li><%= listingID.country %></li>
    </ul>

    <a href="/listing/<%= listingID._id %>/edit">Edit</a>

    <form action="/listing/<%= listingID._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</body>
</html>